.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  transition: background-color 1000ms ease-in;
}

.mode-focus {
  background-color: #86b9b0;
}

.mode-short_break {
  background-color: #b3cde4;
}
